QPushButton {
    background-color: rgba(0,100,0,0.1); 
    font-size: 40px;
}

QPushButton#changed {
    background-color: rgba(0,100,0,0.3); 
    font-size: 40px;
}

QPushButton#placed {
    background-color: rgba(0,100,0,0.5);
    font-size: 50px;
}

QLabel {
    qproperty-alignment: AlignCenter; 
    font-size: 30px;
}

